/* 
  Modal boilerplate taken from here: https://github.com/machadop1407/React-Modal-Tutorial
  It was then modified by myself to match my needs. 
*/

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: #1d212f99;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}

.modalContainer {
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 12px;
  background-color: #1d212f;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.header {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: #6C28F6;
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.closeBtn {
  color: #d7f139;
}
