/* 
  Palette:
  #1d212f - Background
  #ffffff - Text
  #9C9CAB - Text Secondary
  #878df8 - Anchor
  #d7f139 - Anchor Hover
  #6C28F6 - Button backgorund
  #6ab1fd - Text Button
  #d7f139 - Accent
 */
 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-color: #1d212f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #878df8;
  text-decoration: inherit;
}
a:hover {
  color: #d7f139;
  transition: color 0.3s ease;
}

button:hover {
  cursor: pointer;
  transition: color 0.3s ease;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

